@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #03070d;
    --foreground: #ffffff;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #fff;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.btn-shadow {
  box-shadow: 0px 0px 10px #ffffff40;
}


.user_guide .tab_btn[data-state="active"]{
  background: #fff ;
  color: #081428;
}
.user_guide .tab_content ul,
.user_guide .tab_content ol {
  padding-left: 20px;
  font-size: 14px;
  opacity: 50%;
  line-height: 2;
}
.user_guide .tab_content ul{
  list-style: disc;
}
.user_guide .tab_content ol > ul{
  opacity: 1;
}
.tab_btn.Bourse {
  order: 1;
}
.tab_btn.Dashboard {
  order: 2;
}
.tab_btn.User.Management {
  order: 3;
}
.tab_btn.Role.Management {
  order: 4;
}
.tab_btn.Symbols {
  order: 5;
}
.tab_btn.Symbol.Profiles {
  order: 6;
}
.tab_btn.Global.Filters {
  order: 7;
}
.tab_btn.Liquidity.Providers {
  order: 8;
}
.tab_btn.Liquidity.Provider {
  order: 9;
}
.tab_btn.Additional.FIX.Session.Parameters
{
  order: 10;
}
.tab_btn.Matching.Engines{
  order: 11;
}
.tab_btn.Aggregation.Rules{
  order: 12;
}
.tab_btn.MT5.Gateway{
  order: 13;
}
.tab_btn.MT5.Gateway.Installation.and.Configuration{
  order: 14;
}
.tab_btn.MT5.Gateway.Pricing.Configuration{
  order: 15;
}
.tab_btn.MT5.Gateway.Order.Routing{
  order: 16;
}
.tab_btn.MT5.Book.Configuration{
  order: 17;
}
.tab_btn.MT5.DataWarehouse.Plugin{
  order: 18;
}
.tab_btn.MT4.Bridge{
  order: 19;
}
.tab_btn.MT4.Bridge.Installation.and.Configuration{
  order: 20;
}
.tab_btn.MT4.Bridge.Pricing.Configuration{
  order: 21;
}
.tab_btn.MT4.Bridge.Mapped.symbols.configuration{
  order: 22;
}
.tab_btn.MT4.Bridge.Order.Routing{
  order: 23;
}
.tab_btn.MT4.Bridge.Book.Configuration{
  order: 24;
}
.tab_btn.MT4.Coverage.Accounts{
  order: 25;
}
.tab_btn.Exposure.Limit.the.MT4{
  order: 26;
}
.tab_btn.Dynamic.Profiles{
  order: 27;
}
.tab_btn.Current.State{
  order: 28;
}
.tab_btn.Custom.Profiles{
  order: 29;
}
.tab_btn.Upcoming.Past{
  order: 30;
}
.tab_btn.FIX.server{
  order: 31;
}
.tab_btn.FIX.client.setup{
  order: 32;
}
.tab_btn.External.Order.Listener.plugin{
  order: 33;
}
.tab_btn.Corporate.Actions{
  order: 34;
}
.tab_btn.Corporate.actions.configuration{
  order: 35;
}
.tab_btn.Dividend.Adjustments{
  order: 36;
}
.tab_btn.Registering.Server{
  order: 37;
}
.tab_btn.Calculate.Amount.Dividends{
  order: 38;
}
.tab_btn.single.Dividend.Adjustment{
  order: 39;
}
.tab_btn.Adjusting.Dividends{
  order: 40;
}
.tab_btn.Check.Dividend.Adjustments{
  order: 41;
}
.tab_btn.The.Swaps.Import{
  order: 42;
}
.tab_btn.configure.swaps.importing{
  order: 43;
}
.tab_btn.use.swaps.functionality{
  order: 44;
}
.tab_btn.Group.Swaps.Functionality{
  order: 45;
}
.tab_btn.Trade.Execution.Report{
  order: 46;
}
.tab_btn.Trade.Blotter{
  order: 47;
}
.tab_btn.Trade.Blotter.Filters{
  order: 48;
}
.tab_btn.Trade.Blotter.Parameters{
  order: 49;
}
.tab_btn.Trade.Blotter.Running.Options{
  order: 50;
}
.tab_btn.Trade.Blotter.Data.Export.Functions{
  order: 51;
}
.tab_btn.Subscription.Scheduled.Reports{
  order: 52;
}
.tab_btn.Floating.Leverage.Functionality{
  order: 53;
}
.tab_btn.MT5.Floating.Leverage.Plugin.configuration{
  order: 54;
}
.tab_btn.MT4.Floating.Leverage.Functionality{
  order: 55;
}
.tab_btn.MT5.Floating.Leverage.Rules.Configuration{
  order: 56;
}
.tab_btn.MT5.Coverage.Plugin{
  order: 57;
}
.tab_btn.Setting.Coverage.Plugin{
  order: 58;
}
.tab_btn.Configuring.Coverage.Plugin.Rules{
  order: 59;
}
.tab_btn.Coverage.Hedging.Scenarios{
  order: 60;
}
.tab_btn.MT4.Prop.Trading.Plugin{
  order: 61;
}
.tab_btn.How.configure.Prop.Trading.plugin{
  order: 62;
}
.tab_btn.MT4.Prop.Trading.Plugin.Use.Cases{
  order: 63;
}
.tab_btn.Price.Markup.per.Volume.Band{
  order: 64;
}
.tab_btn.Negative.Spread.Protection{
  order: 65;
}
.tab_btn.The.Scheduler{
  order: 66;
}
.tab_btn.How.use.the.Scheduler{
  order: 67;
}
.tab_btn.Log.Monitoring{
  order: 68;
}
.tab_btn.FIX.messages{
  order: 69;
}
.tab_btn.Client.Alerts{
  order: 70;
}


.privacy_content ul{
  padding-left: 20px;
  list-style: disc;
}
.privacy_content ul li{
  line-height: 1.8;
}
.privacy_content p{
  line-height: 1.8;
}